# OS
.DS_Store

# Node
node_modules/
dist/
npm-debug.log*

# Service
service/dist/
service/node_modules/

# Clients (generated)
my-client/
test-client/
spec-client/
tmp/

# Spec-Kit internal
.antigravity/*
~/.antigravity